.sidebar {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width 300ms ease-out 0s;
}

.choice-button {
    margin-right: 1em !important;
    border-radius: 5px !important;
    /* width: 30%; */
}
.choice-button.inactive {
    background-color: #9ba5ab !important;
    color: white !important;
}

.choice-button.inactive:hover {
    background-color: #708894 !important;
    color: white !important;
}

.right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
}

.zoom-controls {
    position: absolute;
    z-index: 1000;
    bottom: 2rem;
    right: 1rem;
}

.ol-control.ol-zoom {
    left: unset;
    right: 0.5em;
}

.selector-container {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif;
}

.selector-header {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.2s;
}

.arrow.open {
    transform: rotate(180deg);
}

.selector-options {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.selector-option {
    padding: 10px;
    cursor: pointer;
}

.selector-option:hover {
    background: #f0f0f0;
}
